@model Parking.Models.CreateParkingViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1 class="display-4">Parking4e</h1>


<br />
<br />
<br />

<div class="container-fluid">
    <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
        <div class="u-container-layout u-valign-top u-container-layout-1">
            <h2 class="u-custom-font u-font-montserrat u-text u-text-1">

                <span class="u-text-palette-3-base">Създаване на паркинг</span>
            </h2>

        </div>
    </div>
    
    <hr>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Име</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Име..." />
        </div>
        <div class="form-group">
            <label asp-for="Address">Адрес</label>
            <textarea class="form-control" asp-for="Address" rows="4" placeholder="Адрес..."></textarea>
        </div>
        <div class="form-group">
            <label asp-for="CountPlace">Общ брой места</label>
            <input type="text" asp-for="CountPlace" class="form-control" placeholder="Общ брой места..." />
        </div>
        <div class="form-group" id="Price">
            <label asp-for="Price">Цена</label>
            <input type="text" asp-for="Price" class="form-control" placeholder="Цена..." />
        </div>
        <div class="form-group" id="Price12h">
            <label asp-for="Price12h">Цена за 12 часа</label>
            <input type="text" asp-for="Price12h" class="form-control" placeholder="Цена за 12 часа..." />
        </div>
        <div class="form-group" id="Price24h">
            <label asp-for="Price24h">Цена за 24 часа</label>
            <input type="text" asp-for="Price24h" class="form-control" placeholder="Цена за 24 часа..." />
        </div>
        <div class="form-group">
            <label asp-for="Image">Изберете снимка: </label>
            <input asp-for="Image" />
        </div>
        <h2 class="text-center">Тип на паркинга</h2>
        <hr />


        <div class="product-type-holder mt-4 d-flex justify-content-around">


            @{
                string[] str = new[] { "Платен паркинг", "Безплатен паркинг" };
                @foreach (var item in str)
                {
                    <div class="form-check form-check-inline">
                        <input id="radioButtons" type="radio" class="form-check-input" asp-for="ParkingType" value="@item" />
                        <label class="form-check-label" asp-for="@item">@item</label>
                    </div>
                }

            }

        </div>

        <input type="submit" value="Create" class="btn btn-primary" />

    </form>

</div>
@section Scripts {
    <script>
        
    </script>
}
