@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="u-clearfix u-section-5" id="carousel_c1b2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
                <h2 class="u-custom-font u-font-montserrat u-text u-text-1">
                    The Future That You<br>
                    <span class="u-text-palette-3-base">Will See Soon</span>
                </h2>
                <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
            </div>
        </div>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-md u-group u-palette-3-base u-shape-circle u-group-2">
                            <div class="u-container-layout u-container-layout-3"></div>
                        </div>
                        <h1 class="u-text u-text-body-alt-color u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">92</h1>
                        <h6 class="u-custom-font u-font-montserrat u-text u-text-4">Unlimited Ideas</h6>
                        <p class="u-text u-text-5">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-md u-group u-palette-3-base u-shape-circle u-group-3">
                            <div class="u-container-layout u-container-layout-5"></div>
                        </div>
                        <h1 class="u-text u-text-body-alt-color u-title u-text-6" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">37</h1>
                        <h6 class="u-custom-font u-font-montserrat u-text u-text-7">Beautiful Web Blocks</h6>
                        <p class="u-text u-text-8">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-6">
                        <div class="u-align-center-sm u-align-center-xs u-container-style u-expanded-width-md u-group u-palette-3-base u-shape-circle u-group-4">
                            <div class="u-container-layout u-container-layout-7"></div>
                        </div>
                        <h1 class="u-text u-text-body-alt-color u-title u-text-9" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">25</h1>
                        <h6 class="u-custom-font u-font-montserrat u-text u-text-10">Responsive Designs</h6>
                        <p class="u-text u-text-11">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>